SERVER_HOST=47.123.7.235
SERVER_USER=root
SERVER_PORT=22
SERVER_PASSWORD=

REMOTE_DIR=/srv/toolStore
REMOTE_RELEASE_PATH=/root/toolstore-release.tgz
REMOTE_SCRIPT_PATH=/root/toolstore-deploy-remote.sh
REMOTE_UPLOADED_ENV_PATH=/root/toolstore.env.server

LOCAL_ENV_FILE=deploy/.env.server
UPLOAD_ENV_FILE=0
PRESERVE_REMOTE_ENV=1
STOP_NGINX_ON_PORT_80=1

HEALTHCHECK_URL=http://47.123.7.235/health
WAIT_FOR_HEALTH_SECONDS=90
